In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from glob import glob

In [3]:
df = pd.read_csv('data.csv')

In [4]:
df.head()

                                                Name   Age     Sex
0                            Braund, Mr. Owen Harris  22.0    male
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0  female
2                             Heikkinen, Miss. Laina  26.0     NaN
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0  female
4                           Allen, Mr. William Henry  35.0    male

In [6]:
df.isnull().sum()

Name      0
Age     177
Sex      13
dtype: int64

In [7]:
df.shape

(891, 3)

In [10]:
df = df.dropna()

In [11]:
df.shape

(704, 3)