In [1]:
dictionary = {
    'A': '今西',
    'B': '航平',
    'C': '男性',
    'D': '東京都',
    'E': '海外旅行',
}
dictionary

{'A': '今西', 'B': '航平', 'C': '男性', 'D': '東京都', 'E': '海外旅行'}

In [2]:
dictionary.keys()

dict_keys(['A', 'B', 'C', 'D', 'E'])

In [3]:
'男性' in dictionary.values()

True

In [9]:
for key, value in dictionary.items():
    print(f'キーは、 {key}, バリューは、{value}')

キーは、 A, バリューは、今西
キーは、 B, バリューは、航平
キーは、 C, バリューは、男性
キーは、 D, バリューは、東京都
キーは、 E, バリューは、海外旅行

In [15]:
dictionary['C']

'男性'

In [13]:
dictionary.get('F')
#エラーが出ない

In [16]:
num = -1

if num >0:
    print('正の値です')
elif num == 0:
    print('0です')
else:
    print('負の値です')

負の値です

In [19]:
a = -3

if 0 <= a < 10 and a % 2 == 0:
    print('一桁の偶数です')
elif a < 0 and a % 2 == 1:
    print('負の奇数です')
else:
    print('整数です')

負の奇数です

In [20]:
names = ['John', 'Kevin', 'Louis']

In [21]:
for name in names:
    print(name)

John
Kevin
Louis

In [23]:
for i in range(10, 20):
    print(i)

10
11
12
13
14
15
16
17
18
19

In [26]:
for i in range(10):
    if i == 6:
        print('終了')
        break
    print(i)

0
1
2
3
4
5
終了

In [27]:
for i in range(10):
    if i == 3:
        continue
    print(i)

0
1
2
4
5
6
7
8
9

In [28]:
lasts = ['加藤', '佐藤', '田中']
firsts = ['雄一', '拓哉', '太郎']

In [29]:
for last, first in zip(lasts, firsts):
    print(last + first)

加藤雄一
佐藤拓哉
田中太郎

In [36]:
for i, last in enumerate(lasts):
    print(f'{i}番目の{last}です。')

0番目の加藤です。
1番目の佐藤です。
2番目の田中です。

In [37]:
nums = []
nums

[]

In [38]:
for i in range(5):
    nums.append(2*i)

In [39]:
nums

[0, 2, 4, 6, 8]

In [40]:
numbers = [2*i for i in range(5)]

In [41]:
numbers

[0, 2, 4, 6, 8]

In [3]:
try:
    num = 0
    print(f'計算結果:{10/num}')
except:
    print(f'エラー')

エラー

In [4]:
num = 0
print(f'計算結果:{10/num}')

ZeroDivisionError: division by zero

In [5]:
try:
    num = 0
    print(f'計算結果:{10/num}')
except ZeroDivisionError as e:
    print(e)

division by zero

In [8]:
 def divide(a, b):
    try:
        print(f'計算結果:{a/b}')
    except ZeroDivisionError as e:
        print(e)
    except TypeError as e:
        print(e)

In [10]:
divide(10, 'what')

unsupported operand type(s) for /: 'int' and 'str'

In [12]:
def divide(a, b):
    try:
        print(f'計算結果:{a/b}')
    except ZeroDivisionError as e:
        print(e)
    except TypeError as e:
        print(e)
    else:
        print('正常に終了しました')

In [13]:
divide(10,3)

計算結果:3.3333333333333335
正常に終了しました

In [14]:
def divide(a, b):
    try:
        print(f'計算結果:{a/b}')
    except ZeroDivisionError as e:
        print(e)
    except TypeError as e:
        print(e)
    finally:
        print('すべての処理が終了しました')

In [15]:
divide(10,2)

計算結果:5.0
すべての処理が終了しました

In [16]:
def divide(a, b):
    try:
        print(f'計算結果:{a/b}')
    except ZeroDivisionError as e:
        print(e)
    except TypeError as e:
        pass
    finally:
        print('すべての処理が終了しました')

In [18]:
divide(10,'what')

すべての処理が終了しました

In [19]:
class Person:
    nationality = 'Japan'
    
    def say_hello(self):
        print(f'こんにちは、私の国籍は、{self.nationality}です。')

In [20]:
person = Person()

In [21]:
person.nationality

'Japan'

In [22]:
person.say_hello()

こんにちは、私の国籍は、Japanです。

In [44]:
class Person:
    nationality = 'Japan'
    
    def __init__(self, name):
        self.name = name
        
    def say_hello(self):
        print(f'こんにちは、私の国籍は、{self.nationality}です。')
        
    def say_my_name(self):
        print(f'私の名前は{self.name}です。')

In [45]:
imanishi = Person('今西')
#コンストラクタ(__init__())のnameに今西を入れてくれている。

In [46]:
imanishi.nationality

'Japan'

In [47]:
imanishi.name

'今西'

In [48]:
imanishi.say_my_name()

私の名前は今西です。

In [49]:
class Kid(Person):
    def say_hello(self, age):
        print(f'私の名前は{self.name}です。年齢は{age}歳です。')

In [51]:
kid = Kid('健介')
#kid = Kid()ではエラーがでる

In [52]:
kid.name

'健介'

In [53]:
kid.nationality

'Japan'

In [54]:
kid.say_hello(12)

私の名前は健介です。年齢は12歳です。